// Header
nav {
  margin: 1.7em 0;

  .logo {
    width: 35%;
  }

  .nav__list li {
    list-style-type: none;
  }

  .nav__list li a {
    color: #9393ff;
  }

  // hamburger
  .hamburger {
    margin: 1.2em 0 0 0;

    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  span,
  span:before,
  span::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 25px;
    height: 2px;
  }

  span:before {
    top: 8px;
    width: 15px;
  }

  span:after {
    bottom: 8px;
    width: 21px;
  }
}
