// Hero Section
.hero {
  margin: 8em 0 0 0;

  &__intro h1 {
    margin: 0.7em auto;
  }

  &__intro p {
    margin: 0 0 3em 0;
    color: $font-primary;
    width: 75%;
  }
}

form {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 7px solid #fff;
  border-radius: 10px;
  margin: 0 0 4em 0;

  input {
    flex-grow: 1.5;
    border: none;
    padding: 1.5em;
    border-radius: 1;
  }

  input:focus {
    outline: none;
  }

  ::placeholder {
    color: $input-primary;
    font-size: 15px;
  }

  button {
    flex-grow: 1.2;
    background-color: $button-primary;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    transition: all 250ms ease-in-out;
  }

  button:hover {
    background-color: $body-primary;
    scale: 1.01;
  }
}

.wrapper {
  background-size: cover;
  overflow: hidden;
  background-repeat: none;
  z-index: -1;

  position: absolute;
  top: 35px;
  right: 0;
}

.socials {
  margin: 0 0 4em 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .fa-lg {
    margin: 0 1em;
    color: $font-primary;
    cursor: pointer;

    transition: filter 250ms ease-in-out;
  }

  .fa-lg:hover {
    filter: brightness(1.5);
  }
}

// Blog Section

.blog {
  & h5 {
    margin: 0 0 0.8em 0;
  }

  & p {
    margin: 0.8em 0;
  }

  & img {
    border-radius: 15px;
  }

  &__btn {
    padding: 1em 3.5em;
    border: none;
    border-radius: 10px;
    margin: 1em 0;
    cursor: pointer;
    color: #2727c9;
    transition: all 250ms ease-in-out;
  }

  &__btn:hover {
    opacity: 75%;
  }
}

.attribution {
  margin: 3.5em 0 1.5em 0;
  display: flex;
  text-align: end;
  justify-content: flex-end;
  flex-grow: 2;
  & p {
    color: $font-primary;
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .flex--lg {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 1.5em;
  }

  .hero__intro {
    flex-grow: 3;
    width: 50%;

    & h1 {
      margin: 0 0 0.7em 0;
    }

    & p {
      width: 50%;
    }

    form,
    .socials {
      width: 85%;
    }

    form {
      width: 75%;
      filter: drop-shadow(5px 15px 35px #1a1ab1);
    }

    .socials {
      justify-content: flex-start;

      .fa-lg {
        margin: 0 3em 0 0;
      }
    }
  }

  .hero__blog {
    flex-grow: 1;
    width: 35%;
  }

  .blog h5 {
    margin-bottom: 1.4em;
  }

  .wrapper__lg {
    background-size: cover;
    background-repeat: none;
    position: absolute;
    z-index: -1;
    top: 13em;
    right: 45em;
  }

  .wrapper {
    display: none;
  }

  .attribution {
    margin: 10em 0 0 0;
  }
}
